{% if not layouts is defined %}
    {% set layouts = post.get_field('modular_layout') %}
{% endif %}

{% for layout in layouts %}
    {% set module = layout.acf_fc_layout %}

    {% if module == 'one_col' %}
        <div class='l-module--1col'>
            <div>
                {{layout.content}}
            </div>
        </div>
    {% elseif module == 'two_col' %}
        <div class='l-module--2col'>
            <div>{{layout.first_column}}</div>
            <div>{{layout.second_column}}</div>
        </div>
    {% endif %}

    {% block custom_layouts %}
    {% endblock %}
{% endfor %}