<ul class='o-social-media {% block class %}{% endblock %}'>
    {% for media in options.social_media_links %}
        <li><a href='{{media.link}}' target='_blank' class='fa fa-{{media.icon|lower}}'></a></li>
    {% endfor %}
</ul> 
