$color: (
    primary: #BF1534,
    primary-accent: #A61C28,

    secondary: #F2BC4D,
    secondary-accent: #D9A652,

    clear: #E9E9E9,
    subtle: #ACACAC,
    dark: #5A5A5A,

    background: #FDFDFE,
    heading: #262626,
    body: #2D2D2D
);