$type: (
    primary: ('Freight Text Pro', Palatino, serif),
    secondary: ('Proba Pro', Helvetica, sans-serif),
    tertiary: ('Bebas Neue', Helvetica, sans-serif),
);

$type-size: (
    base: 20px,
    med: 18px,
    small: 16px
);

