$type: (
    primary: 'Freight Text',
    secondary: 'Proba Pro',
    tertiary: 'Bebas Neue',
);

$type-size: (
    base: 20px,
<<<<<<< HEAD
    med: 18px,
    small: 16px
=======
    small: 20px
>>>>>>> 60a15f1af552b0d453dcb02aeada8db59e9a5cb8
);

