*, *:after, *:before {
    box-sizing: border-box;
}

:root {
    font-size: map-get($type-size, base);

    @include breakpoint(map-get($bp, med)+100) {
        font-size: map-get($type-size, med);
    }

    @include breakpoint(map-get($bp, small)+100) {
        font-size: map-get($type-size, small);
    }
}

body { 
    background: map-get($color, background);
    width: 100%;

    position: relative;
    overflow-x: hidden;
}

p {
    @include ms-respond(font-size, 0);
    font-family: map-get($type, primary);

    line-height: 1.6;
    margin-bottom: ms(1);

    color: map-get($color, body);
}

h1, h2, h3, h4, h5, h6 {
    font-family: map-get($type, primary);
    font-weight: bold;

    line-height: 1.2;
    margin: ms(0) 0 ms(-2);

    color: map-get($color, heading);
}

h1 { @include ms-respond(font-size, 4); }
h2 { @include ms-respond(font-size, 3); }
h3 { @include ms-respond(font-size, 2); }
h4 { @include ms-respond(font-size, 1); }
h5 { @include ms-respond(font-size, 0); }

a {
    @extend p;
    margin: 0;

    color: map-get($color, primary);
    text-decoration: none;
}

li { }

blockquote {
    @extend p;
    @include ms-respond(font-size, 1);

    margin: ms(0) gutter()*2;

    color: map-get($color, primary-accent);
}

img {
    max-width: 100%;
    height: auto;

    box-shadow: 0 3px 15px rgba(#333, 0.3);  
}

figure {
    display: block;
    margin: ms(3) 0;
    width: 100%;
}

figcaption {
    @extend p;
    display: block;
    
    width: 100%;
    margin-top: ms(1);
    padding-left: ms(0);

    color: map-get($color, dark);
    border-left: 2px solid map-get($color, dark);
}

input, button {
    &:focus {
        outline: 0;
    }
}
