// margin & padding utilities

$directions: right left top bottom;
$steps: 12;

@each $dir in $directions {

    .u-margin {
        @for $i from 0 through $steps {
            &-#{$i} {
                margin: ms($i) !important;
                @include breakpoint(map-get($bp, med)) { margin: ms($i - 1) !important; }
            }

            &-#{$dir}-#{$i} {
                margin-#{$dir}: ms($i) !important;
                @include breakpoint(map-get($bp, med)) { margin-#{$dir}: ms($i - 1) !important; }
            }

            &-#{$dir}-neg-#{$i} {
                margin-#{$dir}: -#{ms($i)} !important;
                @include breakpoint(map-get($bp, med)) { margin-#{$dir}:-#{ms($i - 1)} !important; }
            }
        }
    }

    .u-padding {
        @for $i from 0 through $steps {
            &-#{$i} {
                padding: ms($i) !important;
            }

            &-#{$dir}-#{$i} { 
                padding-#{$dir}: ms($i) !important;
            }
        }
    }

    .u-margin-#{$dir}-none {
        margin-#{$dir}: 0 !important;
    }

    .u-padding-#{$dir}-none {
        padding-#{$dir}: 0 !important;
    }

}

.u-margin-none {
    margin: 0 !important;
}

.u-padding-none {
    padding: 0 !important;
}

// float/clear

.u-float-right {
    float: right !important;
}

.u-float-left {
    float: left !important;
}

.u-clear-right {
    clear: right !important;
}

.u-clear-left {
    clear: left !important;
}

// flexbox

.u-flex, .u-flexbox {
    &-justify-center {
        justify-content: center !important;
    }

    &-justify-space-between {
        justify-content: space-between
    }
    
    &-align-center {
        align-items: center !important;
    }
}


// display

.u-block {
    display: block !important;
}

.u-inline-block, .u-block-inline {
    display: inline-block !important;
}

// hide on breakpoints

@each $key, $val in $bp {
    .u-hide-on-#{$key} {
        @include breakpoint($val) {
            display: none !important;
        }
    }
}