// margin & padding utilities

$directions: right left top bottom;
$steps: 5;

@each $dir in $directions {

    .u-margin-#{$dir} {
        @for $i from -$steps through $steps {
            &-#{$i} {
                margin-#{$dir}: ms($i) !important;
            }
        }
    }

    .u-padding-#{$dir} {
        @for $i from -$steps through $steps {
            &-#{$i} {
                padding-#{$dir}: ms($i) !important;
            }
        }
    }

    .u-margin-#{$dir}-none {
        margin-#{$dir}: 0 !important;
    }

    .u-padding-#{$dir}-none {
        margin-#{$dir}: 0 !important;
    }

}

.u-margin-none {
    margin: 0 !important;
}

.u-padding-none {
    padding: 0 !important;
}

// float/clear

.u-float-right {
    float: right !important;
}

.u-float-left {
    float: left !important;
}

.u-clear-right {
    clear: right !important;
}

.u-clear-left {
    clear: left !important;
}

// display

.u-block {
    display: block !important;
}

.u-inline-block, .u-block-inline {
    display: inline-block !important;
}

// hide on breakpoints

@each $key, $val in $bp {
    .u-hide-on-#{$key} {
        @include breakpoint($val) {
            display: none !important;
        }
    }
}