.u-stroke {
    position: relative;

    &:after {
        content: '';
        max-width: 960px;

        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        z-index: -2;

        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: left center;
    }

    &, &-1 {
        @extend .u-stroke;

        &:after {
            background-image: url('images/type-stroke-1.png');  
        }
    }

    &-2 {
        @extend .u-stroke;
        
        &:after {
            background-image: url('images/type-stroke-2.png');
        }
    }
 
    &-text {
        position: relative;

        span {
            position: absolute;
            top: -25%; left: 0;
            z-index: -1;


            color: rgba(map-get($color, dark), 0.1);
            @include ms-respond(font-size, 2);
        }
    }    
}