.u-stroke {
    position: relative;

    &:after {
        content: '';
        max-width: 960px;

        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        z-index: -2;

        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: left center;
    }

    &, &-1 {
        @extend .u-stroke;

        &:after {
            background-image: url('images/type-stroke-1.png');  
        }
    }

    &-2 {
        @extend .u-stroke;
        
        &:after {
            background-image: url('images/type-stroke-2.png');
        }
    }

    &-3 {
        @extend .u-stroke;
        
        &:after {
            background-image: url('images/type-stroke-3.png');
        }
    }

    &-edge {
        &-1 {
            @extend .u-stroke;

            &:after {
                background: url('images/top-brush.png') repeat-x;
                background-size: auto 100%;

                width: 100%;
                max-width: none;
                height: 25px;
                
                top: auto;

                z-index: 1;
            }
        }

        &-2 {
            @extend .u-stroke-edge-1;

            &:after, &:before { z-index: 1; }
            
            &:before {
                @extend .u-stroke-edge-1:after;
                top: 0;
                bottom: auto;

                transform: scaleY(-1);
            }
        }
    }
 
    &-text {
        position: relative;

        span {
            position: absolute;
            top: -30%; left: 0;
            z-index: -1;

            font-family: 宋体, SimSun, 华文细黑, STXihei;
            font-size: ms(2);

            color: rgba(map-get($color, dark), 0.2);
        }
    }    
}