.u-type-left {
    text-align: left;
}

.u-type-right {
    text-align: right;
}

.u-type-center {
    text-align: center;
}

// size

$steps: 4;

@for $i from -$steps through $steps {
    .u-type-size-#{$i} {
        font-size: ms($i) !important;
    }

    .u-type-respond-#{$i} {
        @include ms-respond(font-size, $i);
    }
}

// styling

.u-type-subtitle {
    @include ms-respond(font-size, 1);
    margin-top: -#{ms(-3)};

    font-family: map-get($type, tertiary); 
    letter-spacing: 2px;
}

.u-type-subtitle--desc {
    @extend .u-type-subtitle;
    
    font-family: map-get($type, primary);
    letter-spacing: 0;
}

@each $key, $family in $type {
    .u-type-family {
        &-#{$key} {
            font-family: $family !important; 
        }
    }
}


.u-type-bold {
    font-weight: bold;
}

// contain text to make reading easier

.u-type-contain {
    max-width: 750px;

    &-large {
        max-width: 960px;
    }

    &-larger {
        max-width: 1200px !important;
    }
}