.u-type-left {
    text-align: left;
}

.u-type-right {
    text-align: right;
}

.u-type-center {
    text-align: center;
}

// subtitle

.u-type-subtitle {
    @include ms-respond(font-size, 1);
    margin-top: -#{ms(-3)};
}

// contain text to make reading easier

.u-type-contain {
    max-width: 750px;
}