.m-header {
    @extend .l-header;

    padding: ms(6) 0 ms(6);
    margin-bottom: ms(6);

    @include breakpoint(map-get($bp, med)) {
        padding: ms(4) 0;
        margin-bottom: ms(4);
    }

    @include breakpoint(map-get($bp, small)) {
        padding: ms(2) 0;
        margin-bottom: ms(2);
    }

    .l-header__bg {
        background-position: 50% center; 
    }
}