.m-menu {
    list-style: none;

    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    li {
<<<<<<< HEAD
        margin-right: ms(1);
=======
        margin-right: ms(2);
>>>>>>> 60a15f1af552b0d453dcb02aeada8db59e9a5cb8
    }

    li:last-child {
        margin: 0;
    }
}