.m-nav {
    padding: ms(2) 0;
    background: map-get($color, background);

    width: 100%;
    position: absolute;
    z-index: 100;

    margin-top: ms(1);

    @include breakpoint(map-get($bp, med)) {
        padding: ms(1) 0;
    }

    &__menu {
        @extend .l-grid;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__hamburger {
        display: none;
        @include breakpoint(map-get($bp, med)) { display: inline-block; }

        font-size: ms(1);
        color: black;

        border-left: 1px solid #e8e8e8;
        padding-left: ms(1);

        cursor: pointer;
    }
}





.m-nav__menu--mobile {
    width: 100%;
    max-width: 340px;
    
    padding: ms(2) 0;

    position: absolute;
    top: 100%;
    right: 0;
    height: 100vh;

    background: map-get($color, background);

    @include breakpoint(map-get($bp, small)) { max-width: 100%; }
    
    .m-menu--vertical > li { 
        width: 100%; 
        padding: 0 ms(4);
    }

    li > a { 
        display:block; 
        padding: ms(0) 0; 
    }
}

.m-nav__overlay {
    position: fixed;
    top: 0; bottom: 0; 
    right: 0; left: 0;

    opacity: 0;
    transition: all 0.3s;

    background: rgba(black, 0.5);
    z-index: 1;
}

.m-nav__menu--mobile, .m-nav__overlay {
    @include breakpoint(map-get($bp, med) min-width) {
        display: none !important;
    }
} 




.m-nav--inverse {
    background: none;

    .m-nav__menu * { color: white !important; }
    .m-nav__menu .o-button { @extend .o-button--white; }
}

.m-nav--sticky {
    position: fixed;
    width: 100vw; 
    z-index: 100;

    margin: 0 !important;
    padding: ms(0) 0;

    box-shadow: 0 3px 15px rgba(map-get($color, subtle), 0.2); 
}