.m-table-of-contents {
    padding: ms(0) ms(1);
    margin: 0 0 ms(0);

    background: #F8F8F8;
    border: 1px solid #E9E9E9;

    @include breakpoint(map-get($bp, med) min-width) {
        width: auto !important;
        max-width: 350px !important;
    }

    li { 
        margin-bottom: ms(-1);
    }
    li:last-child {
        margin: 0;
    }
}