.l-about__header {
    @extend .l-header;

    padding: ms(7) 0 0;
    margin-bottom: ms(5);

    @include breakpoint(map-get($bp, med)) {
        padding: ms(5) 0 0;
        margin-bottom: ms(3);
    }
}

.l-about__vision {
    @extend .l-section;

    padding: ms(2) 0;
    overflow: visible;

    .l-block {     
        padding: ms(0);
    }

    .l-block:first-child {
        text-align: center;

        p { 
            display: inline-block;  
            max-width: 500px; 

            position: relative;

            font-weight: bold;
        }
    }
}

.l-about__stamp {
    @extend .u-image-no-shadow;
    @extend .u-image-no-responsive;

    max-width: 160px;

    position: absolute;
    bottom: 50%;
    left: -10%;

    @include breakpoint(map-get($bp, med)) {
        bottom: 60%;
        left: 50%;
        transform: translateX(-50%);
    }
}


.l-about__directors {
    .l-section__content {
        margin-top: ms(4);
        padding-bottom: ms(3);

        background: #F7F7F7;
    }

    &-prev {
        margin-bottom: ms(1);

        @include breakpoint(map-get($bp, med) - 200 min-width) {
            width: span(6);    
        }

        @include breakpoint(map-get($bp, large) min-width) {
            width: span(4);
        }
    }
}