.l-about__vision {
    @extend .l-section;

    overflow: visible;

    .l-section__bg { 
        background-position: bottom center;
    }

    .l-section__content {
        position: relative;
        max-width: 1400px;
    }

    .l-module {
        justify-content: space-between;
    }

    &-chinese {
        width: 70%; 
        max-width: 700px;

        padding: ms(5) 0 ms(7) 10%;

        p { 
            position: relative; 
            color: black; 
        }

        @include ms-respond(font-size, 2);
        font-weight: bold;

        @include breakpoint(map-get($bp, large)) {
            padding-left: 5%;
        }
        @include breakpoint(map-get($bp, med) + 200) {
            padding-left: 0;
            flex: 1 1 100%;
        }
        @include breakpoint(map-get($bp, small)) {
            padding: ms(5) 0 ms(5);
        }
    }

    &-english {
        max-width: 600px;
        
        margin-top: -#{ms(9)}; 

        @include breakpoint(map-get($bp, large)) {
            margin-top: -#{ms(5)};;
        }
    }
}

.l-about__stamp {
    @extend .u-image-no-shadow;
    @extend .u-image-no-responsive;

    max-width: 160px;

    @include breakpoint(map-get($bp, med) + 200) {
        max-width: 125px;
    }

    &-vision {
        @extend .l-about__stamp;

        position: absolute;
        top: -3em;
        left: -10%;
    
        @include breakpoint(map-get($bp, med) + 200) {
            top: -4em;
            left: -5%;
        }
    }
    
    &-values {
        @extend .l-about__stamp;

        position: absolute;
        top: 5%;
        right: 10%;

        @include breakpoint(map-get($bp, med) + 200) {
            top: -1.5em;
        }
    }
}

.l-about__values {
    position: relative;

    background: map-get($color, alternate);
}

.l-about__mission {
    padding: ms(4) 0;

    @include breakpoint(map-get($bp, med)) {
        padding: ms(2) 0;
    }

    .l-section__content {
        max-width: map-get($module, container-large);

        div {
            max-width: 600px;
        }
    }
}

.l-about__slider {
    @extend .l-homepage__slider;

    margin: ms(3) 0;
    padding: ms(5) 0;

    @include breakpoint(map-get($bp, med) + 200) {
        margin: ms(1) 0;
        padding: ms(2) 0;
        
        .l-section__content {
            padding: 0;
        }
    }
}

.l-about__directors {
    margin: ms(3) 0 ms(2);
    padding: ms(4) 0;

    background: map-get($color, alternate);

    @include breakpoint(map-get($bp, large)) {
        margin: ms(2) 0 ms(1);
    }
    
    @include breakpoint(map-get($bp, med)) {
        padding: ms(2) 0;
    }

    .l-section__content {
    } 

    h3 {
        padding: gutter()/2;
    }

    &-director {
        width: 20%;
        display: block;

        margin-top: ms(1);
        padding: gutter()/2;


        @include breakpoint(map-get($bp, large)) {
            width: 33.33%;
        }

        @include breakpoint(map-get($bp, med)) {
            width: 50%;
        }

        @include breakpoint(map-get($bp, small)) {
            width: 100%;
        }

        .director__image {
            margin-right: gutter()*2;
            margin-bottom: ms(0);
            width: 100%;

            @include breakpoint(map-get($bp, small)) {
                max-width: 150px;
            }
        }

        & > div:last-child { max-width: 700px; flex: 1 1 300px; } 
    }

    &-prev {
        margin-right: gutter();
        margin-bottom: ms(1);

        text-align: center;

        @include breakpoint(map-get($bp, med) - 200 min-width) {
            width: span(6) - gutter();    
        }

        @include breakpoint(map-get($bp, large) min-width) {
            width: 25% - gutter();
        }

        .director__image {
            max-width: 100px;
            
            @include breakpoint(map-get($bp, small) min-width) {
                max-width: 150px;
            }
        }
    }
}

.l-about__sponsers {
    a { 
        max-width: 175px;
        flex: 1 1 150px;
        margin: ms(0) gutter(); 

        transition: opacity 0.3s;
        opacity: 0.7;
        &:hover { opacity: 1; }
    }

    img {
        @extend .u-image-no-shadow;
    }
}