.l-grid {
    margin: auto;
    padding: 0 gutter();
    // background: susy-svg-grid() no-repeat scroll;

    width: 100%;
    max-width: map-get($container, large);
    
    @include breakpoint(map-get($bp, med)) {
        max-width: map-get($container, med);
    }
    @include breakpoint(map-get($bp, small)) {
        max-width: map-get($container, small);
    }
}

.l-section, .l-header {
    position: relative;
    overflow: hidden;
    width: 100%;

    &__content {
        @extend .l-grid;
        padding: 0 span(1);

        display: flex;
        flex-wrap: wrap;
    }

    &__bg {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;

        z-index: -10;

        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    &__bg-intro {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    &__bg-content {
        padding-top: ms(10);
    }
}

.l-block {
    flex: 1;
    flex-basis: 400px;
    padding: 0 gutter()/2;

    &--centered {
        max-width: 750px;
        margin: auto;

        @include breakpoint(map-get($bp, med)) {
            max-width: 100%;
        }
    }
}

.l-footer {
    
}