.l-grid {
    margin: auto;
    padding: 0 gutter();
    // background: susy-svg-grid() no-repeat scroll;

    max-width: map-get($container, large);
    
    @include breakpoint(map-get($bp, med)) {
        max-width: map-get($container, med);
    }
    @include breakpoint(map-get($bp, small)) {
        max-width: map-get($container, small);
    }
}