.l-grid {
    margin: auto;
    padding: 0 gutter();
    // background: susy-svg-grid() no-repeat scroll;

    width: 100%;
    max-width: map-get($container, large);
    
    @include breakpoint(map-get($bp, med)) {
        max-width: map-get($container, med);
    }
    @include breakpoint(map-get($bp, small)) {
        max-width: map-get($container, small);
    }
}

.l-section, .l-header {
    position: relative;
    overflow: hidden;
    width: 100%;

    &__content {
        @extend .l-grid;
        padding: 0 span(1);

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__bg {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;

        z-index: -10;

        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;

        &--fade {
            @extend .l-section__bg; 

            &:before {
                content:'';
                @extend .l-section__bg; 
    
                z-index: -9;
                background: linear-gradient(to bottom, rgba(white, 0), rgba(map-get($color, background), 0.5) 50%, rgba(map-get($color, background), 1) 100%); 
            }
        }
    }

    &__bg-intro {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    &__bg-content {
        padding-top: ms(10);
    }

    &--respond {
        @extend .l-section;
        padding: ms(8) 0;
        margin-bottom: ms(7);

        @include breakpoint(map-get($bp, med)) {
            padding: ms(6) 0 ms(5);
        }
    }
}

.l-block {
    flex: 1;
    flex-basis: 400px;
    padding: 0 gutter()/2;

    &--centered {
        max-width: 750px;
        margin: auto;

        @include breakpoint(map-get($bp, med)) {
            max-width: 100%;
        }
    }
}

.l-footer {
    background: map-get($color, footer);

    a {
        transition: opacity 0.3s;
        &:hover { opacity: 0.5; }
    } 

    &__main {
        @extend .l-grid;
        padding-top: ms(5);
        padding-bottom: ms(5);

        display: flex;
        flex-wrap: wrap;
    }

    &__section {
        padding: ms(0) ms(3);
        
    }

    &__sub {
        width: 100%;
        padding: ms(0)/2 0;

        background: map-get($color, sub-footer);

        p { 
            @extend .o-label;
            text-transform: capitalize;
            letter-spacing: 0;
            
            margin: 0; 
            color: map-get($color, dark); 
        }
    }
}