.l-homepage__header {
    @extend .l-header;
    @extend .u-stroke-edge-1;
    padding: ms(10) 0 ms(4);

    @include breakpoint(map-get($bp, med)) {
        padding: ms(6) 0 ms(2);
    }
}

.l-homepage__detail {
    @extend .l-section;

    z-index: 1;
}

.l-homepage__instagram {
    display: flex;
    z-index: 2;

    width: 110%;

    position: relative;
    left: -5%;
    right: -5%;

    margin-top: -#{ms(5)};

    a {
        margin: 0 gutter()/2;
        display: inline-block;
    }

    @include breakpoint(map-get($bp, med)) {
        & > a:nth-last-child(-n+2) {
            display: none;
        }
    }

    @include breakpoint(map-get($bp, small)) {
        & > a:nth-last-child(-n+3) {
            display: none;
        }

        & > a:not(:nth-last-child(-n+3)) {
            margin: 0 gutter();
        }
    }

    .o-button {
        position: absolute;
        top: 50%;
        left: 50%;

        margin: 0 !important;

        transform: translate(-50%, -50%); 
    }
}

.l-homepage__about {
    &-image {
        @include breakpoint(1000px) {
            order: -1;
        }
    }
}

.l-homepage__society {
    @extend .l-header;
    margin-top: ms(5);
    padding: ms(12) 0 0;

    .l-section__bg {
        bottom: 10%;
    }

    @include breakpoint(map-get($bp, med) - 100) {
        margin: 0;
        padding: ms(9) 0 0;
        .l-section__bg { bottom: 30%; }
    }

    @include breakpoint(map-get($bp, small)) {
        padding: ms(10) 0 0;
    }

    .l-block { flex-basis: 400px; max-width: 700px;  }
}

.l-homepage__slider {
    position: relative;

    &-item {
        max-width: 500px;
        margin: 0 ms(0);

        @include breakpoint(map-get($bp, small)) { margin: 0 ms(0)/2; }    

        &:focus { outline: none; }
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 1;

        width: 50px;
        height: 50px;
        margin: 0 ms(0);

        text-indent: -999em;
        transition: all 0.1s;
        transform: translateY(-50%);

        background: none;
        border: 2px solid map-get($color, primary);

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0; right: 0;

            font-family: FontAwesome;

            text-indent: 0;
            transform: translateY(-50%);
            color: map-get($color, primary);
        }

        &:active {
            &:after { color: white; }
            background: map-get($color, primary);
        }
    }

    .slick-prev {
        left: 0;

        &:after {
            content: '\f177';
        }
    }

    .slick-next {
        right: 0;

        &:after {
            content: '\f178';
        }
    }
}

.l-homepage__initiatives {

    &-list {
        margin-bottom: ms(4);

        padding: 0;
        padding-right: ms(0);

        flex-basis: 600px;
        flex-grow: 3;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-list-item {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

        margin-bottom: ms(4);

        & > a { width: 100%; margin-bottom: ms(1); flex-shrink:0; }

        h4 { max-width: 500px; }

        @include breakpoint((map-get($bp, med)) min-width) {
            width: span(6) + gutter()/2;
        }

        @include breakpoint((map-get($bp, large) + 200) min-width) {
            width: 100%;
            align-items: center;
            flex-wrap: nowrap;

            & > div { margin: 0 ms(3); }
            & > p { margin-bottom: ms(1); }
            & > a { width:300px; margin: 0; }
        }
    }
}

.l-homepage__twitter {
    flex-basis: 300px;
    flex-grow: 1;

    max-width: 500px;

    margin: 0 ms(2); 

    @include breakpoint(map-get($bp, small)) {
        margin: 0;
    }
}