.l-initiative__bg {
    @extend .l-section;
    @extend .u-stroke-edge-1;
    
    padding: ms(8) 0;

    background: darken(map-get($color, alternate), 5);

    @include breakpoint(map-get($bp, med)) {
        padding: ms(4) 0 ms(8);
    }
}   

.l-initiative__share {
    width: 100%;
    max-width: map-get($module, container);

    margin-top: ms(4);

    li { 
        margin-bottom: 0;
        margin-right: 1em; 
    }
    li:last-child { margin: 0; }

    a { background: none !important; } 

    @include breakpoint(map-get($bp, med) + 100 min-width) {
        flex: 0 1;
        margin-left: gutter()*2;
    }
}

.l-initiative__related {
    @extend .l-module--3col;

    & > div {
        margin-top: ms(2);

        @include breakpoint(map-get($bp, med)) {
            img {
                width: 150px;
                float: left;

                margin-right: gutter()*2;
            }

            h5 {
                margin: 0 gutter() ms(-1);
            }
        }
    }
}
