$module: (
    container-large: 1200px,
    container: 750px, 
);

.l-module {
    max-width: map-get($module, container-large);

    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap; 

    p img { width: 100%; height: 100%; }

    ul, ol { padding-left: 0; }
    li { @extend p; }

    & > div > *:first-child, & > div > *:last-child { margin-top: 0; }

    // 1 column
    &--1col {
        @extend .l-module;
        justify-content: center;
        & > * { 
            width: 100%; 
            max-width: map-get($module, container); 
        }   

        figure { width: 100% !important; }
    }

    // 1 column with tip
    &--1col-tip {
        @extend .l-module--1col;
        flex-wrap: wrap-reverse;

        & > *:first-child {
            max-width: none;
            flex: 1 1 50%;
        }

        & > *:last-child {
            max-width: none;
            flex: 0 1 500px; 
            align-self: flex-end;

            margin-left: gutter();
            padding: 0 gutter() ms(1);

            p {
                color: map-get($color, subtle);
            }

            span { 
                padding: ms(0) 0 0;  
                border-top: 1px solid lightgrey;  
            } 
        }

        @include breakpoint(1270px) {
            max-width: map-get($module, container);

            & > *:last-child {
                flex: 1 1 100%;
                margin: 0;
                padding: ms(0) 0;
            }
        } 
    }

    // 2 column paragraphs
    &--2col {
        @extend .l-module;

        & > * { 
            width: 100%; 
            
            @include breakpoint(map-get($bp, med) min-width) {
                width: 50% - gutter();
                margin: 0 gutter();

                &:nth-child(2n+1) { margin-left: 0; }
                &:nth-child(2n) { margin-right: 0; }
            }
        }
    }  

    // 3 column paragraphs 
    &--3col {
        @extend .l-module--2col;

        & > * {
            @include breakpoint(map-get($bp, large) min-width) {
                width: 33% - gutter()*2;

                &:nth-child(2n+1), &:nth-child(2n) { margin: 0 gutter(); }

                &:nth-child(3n) {
                    margin-right: 0;
                }
                &:nth-child(3n+1) {
                    margin-left: 0;
                }
            }
        }
    }

    // full-size image
    &--img {
        @extend .l-module;
        display: block;
        margin: ms(2) 0;


        &-wide {
            @extend .l-module--img;
            max-width: 100%;
        }

        &-full {
            width: 100vw;
            margin-left: calc(-50vw + 50%); 
            margin-right: calc(-50vw + 50%); 
        } 
    }

    // sidebar
    &--sidebar {
       flex: 0 1;
    }

    // links

    &--links {
        @extend .m-menu--vertical;

        li { 
            display: flex; 
            align-items: center;

            margin-bottom: ms(1);

            &:hover {

                h5 { color: map-get($color, secondary-accent); }

                .o-button--link-secondary {
                    @extend .o-button--link-secondary:hover;

                    &:after { 
                        @extend .o-button--link-secondary:hover:after; 
                    }
                }
            }
        } 

        a {
            display: flex;
            flex-wrap: wrap;
        }

        h5 { 
            margin: 0; 
            color: map-get($color, dark); 
            transition: all 0.4s;
        }
    }
}

.l-module__society {
    &-list {
        @extend .l-module--2col; 

        margin-bottom: ms(4);

        &:last-child {
            margin: 0;
        }

        @include breakpoint(map-get($bp, med)) {
            & > div:first-child {
                margin-bottom: ms(0);
            }
        }

        p:not(a) {
            color: #AFA5A5;
        }

        .m-menu {
            border-top: 1px solid #AFA5A5;

            li {
                margin: 0;
                padding: ms(-1) ms(0) 0;
            }

            li:first-child {
                padding-left: 0;
                border-right: 1px solid #AFA5A5;
            }

            li:last-child {
                flex: 1;
            }
        }
    }
}

.l-module__initiative {
    &-list {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
      
        & > a { 
            width: span(3); 
            min-width: 100px;

            @include breakpoint(map-get($bp, small)) {
                width: 100%;
                margin-bottom: ms(-1);
            }
        }
        
        div {
            flex: 1 1 200px;
            padding: 0 gutter()*2;

            @include breakpoint(map-get($bp, small)) {
                padding: 0;
            }
        }

        h4 { margin-top: 0; }
        p:not(a) {  
            max-width: map-get($module, container);
            margin-bottom: ms(-1); 

            color: #909090;
        }
    }

    &-study {
        border-top: 1px solid lightgrey;

        padding: ms(2) 0 ms(2);

        @include breakpoint(map-get($bp, med) min-width) {
            display: flex;
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;

            padding-top: ms(3);
    
            & > p { 
                width: span(5); 
            }
            & > h4 { 
                width: span(4); 
            }
            & > div {
                width: span(2);
            }
            & > a {
                width: span(1);
            }
        }
    }
}