$module: (
    container-large: 1400px,
    container: 700px, 
);

.l-module {
    max-width: map-get($module, container-large);

    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap; 

    p img { width: 100%; height: 100%; }

    ul, ol { padding-left: 0; }
    li { @extend p; }

    // 1 column
    &--1col {
        @extend .l-module;
        justify-content: center;
        & > * { 
            width: 100%; 
            max-width: map-get($module, container); 
        }   

        figure { width: 100% !important; }
    }

    // 1 column with tip
    &--1col-tip {
        @extend .l-module--1col;
        flex-wrap: wrap-reverse;

        & > *:last-child {
            flex: 1; 
            align-self: flex-end;

            margin-left: gutter()*2;
            padding: gutter() gutter()*2;

            * {
                @include ms-respond(font-size, -1);
            }

            span { 
                padding-left: ms(0); 
                border-left: 2px solid map-get($color, primary);  
            } 

            @include breakpoint(1260px) {
                flex: 1 1 100%;
                margin: 0;
                padding: ms(0) 0;
            } 
        }
    }

    // 2 column paragraphs
    &--2col {
        @extend .l-module;

        & > * { 
            width: 100%; 
            
            @include breakpoint(map-get($bp, med) min-width) {
                width: 50% - gutter()*2;
                margin: 0 gutter();

                &:nth-child(2n+1) { margin-left: 0; }
                &:nth-child(2n) { margin-right: 0; }
            }
        }
    }  

    // 3 column paragraphs 
    &--3col {
        @extend .l-module--2col;

        & > * {
            @include breakpoint(map-get($bp, large) min-width) {
                width: 33% - gutter()*2;

                &:nth-child(2n+1), &:nth-child(2n) { margin: 0 gutter(); }

                &:nth-child(3n) {
                    margin-right: 0;
                }
                &:nth-child(3n+1) {
                    margin-left: 0;
                }
            }
        }
    }

    // full-size image
    &--img {
        @extend .l-module;
        display: block;
        margin: ms(1) 0;


        &-wide {
            @extend .l-module--img;
            max-width: 100%;
        }

        &-full {
            width: 100vw;
            margin-left: calc(-50vw + 50%); 
            margin-right: calc(-50vw + 50%); 
        } 
    }

    // sidebar
    &--sidebar {
       flex: 0 1;
    }

    // links

    &--links {
        @extend .m-menu--vertical;

        li { 
            display: flex; 
            align-items: center;

            margin-bottom: ms(1);

            &:hover {

                h5 { color: map-get($color, secondary-accent); }

                .o-button--link-secondary {
                    @extend .o-button--link-secondary:hover;

                    &:after { 
                        @extend .o-button--link-secondary:hover:after; 
                    }
                }
            }
        } 

        a {
            display: flex;
            flex-wrap: wrap;
        }

        h5 { 
            margin: 0; 
            color: map-get($color, dark); 
            transition: all 0.4s;
        }
    }
}

.l-module__society {
    &-list {
        @extend .l-module--2col;
        align-items: center;
    }
}

.l-module__initiative {
    &-list {
        width: 100%;

        display: flex;
        align-items: center;

        & > a { 
            width: span(3); 
            min-width: 100px;
        }
        
        div {
            flex: 1;
            padding: ms(1) gutter()*2;
        }

        h4 { margin-top: 0; }
        p:not(a) {  
            max-width: map-get($module, container);
            @include breakpoint(map-get($module, container-large)) { font-size: ms(-1); }  
            @include breakpoint(830px) { display: none; }   
        }
    }

    &-study {
        border-top: 1px solid lightgrey;

        padding: ms(2) 0 ms(2);

        @include breakpoint(map-get($bp, med) min-width) {
            display: flex;
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;

            padding-top: ms(3);
    
            & > p { 
                width: span(5); 
            }
            & > h4 { 
                width: span(4); 
            }
            & > div {
                width: span(2);
            }
            & > a {
                width: span(1);
            }
        }
    }
}