@media print {
    nav, footer { display: none; }
    header { padding: ms(1) !important; }
    header h1 { margin-top: 0 !important; }

    .l-section__bg-container, .l-initiative__share, .l-initiative__related { display: none; }
}