// For Society Page

.l-society__filter {
    @extend .m-menu;

    padding: ms(0) ms(2) !important;
    
    background: map-get($color, background);
    border: 1px solid #E9E9E9;
    
    li {
        margin-bottom: 0;
        padding-right: ms(1);

        border-right: 1px solid #E5E5E5;
    }
    li:last-child {
        margin: 0;
        padding: 0;
        border: none;
    }

    .selected {
        color: map-get($color, primary);
    }

    @include breakpoint(map-get($bp, med)) {
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
    
        width: 100%;
    
        li {
            border: none;
            margin: 0 0 ms(0);
        }
        li:first-child {
            margin-bottom: ms(1);
        }
    }
}



// For inidivual page

.l-society__header {
    @extend .m-header;
    @extend .u-stroke-edge-1;

    overflow: visible;

    padding: ms(9) 0 0;
    .l-module { 
        padding-top: ms(8);  

        position: relative;
        z-index: 10;
    }

    @include breakpoint(map-get($bp, med)) {
        padding: ms(7) 0 0;
        .l-module { 
            padding-top: ms(6);
        }
    }

    h1 { 
        @include ms-respond(font-size, 4);
        color: map-get($color, primary); 
    }

    .o-button {
        color: #A78C60;
        background: #DBCFB6;
    }

    .l-section__bg:after {
        @extend .l-section__bg;

        content: '';
        background: linear-gradient(to bottom, rgba(228,228,217,0.64) 0%,rgba(187,187,177,0.56) 55%,rgba(155,155,145,1) 100%);
    }
}

.l-society__bg {
    background: url('images/bg-brush-pattern.png') repeat-y;
    background-size: 100% auto;
}

.l-society__subtitle {
    @include ms-respond(font-size, 2);
    
    @include breakpoint(550px) {
        font-size: ms(0);
        letter-spacing: 5px;
    }

    margin-top: ms(-4);

    letter-spacing: 10px;
    font-family: "Microsoft YaHei","微软雅黑","黑体","宋体";
    color: map-get($color, dark);

    display: flex;  
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    animation: slideIn 3s 0.25s;
    animation-fill-mode: both;

    &:after, &:before {
        content: '';
        width: ms(1);
        height: 2px;
        background: map-get($color, primary);

        margin: 0 ms(0);
    }
}

.l-society__intro {
    flex: 1 1 400px;
}

.l-society__details {
    @extend .l-module;

    display: flex; 
    flex: 1 1 200px;
    align-content: flex-start;

    border-bottom: 1px solid lightgrey;
    margin-bottom: ms(2);

    @include breakpoint(map-get($bp, med)) {
        flex: 1 1 100%;
    }

    &-item {
        margin: ms(0) gutter()*2;
        margin-left: 0; 
         
        flex: 0 1 auto;

        .o-label { color: map-get($color, heading); }
        p { color: map-get($color, subtle); }
    }
}

// special elements

.u-dropcap {
    &:first-letter {
        margin :0 0.2em 0em 0;
        float:left;
        margin-left: -1px;
    
        font-weight: 700;
        font-size: 3.1em;
        line-height: 1;
    
        text-transform: uppercase;
        text-shadow: 2px 2px 1px #f1f1eb,
        3px 3px 1px map-get($color, subtle);
    }
}