.l-society__header {
    @extend .l-header;

    padding: ms(7) 0 ms(2);

    @include breakpoint(map-get($bp, med)) {
        padding: ms(5) 0 ms(0);
    }
}

.l-society__bg {
    background: url('images/bg-brush-pattern.png') repeat-y;
    background-size: 100% auto;
}

.l-society__subtitle {
    @include ms-respond(font-size, 2);
    
    margin-top: ms(-4);

    letter-spacing: 10px;
    font-family: "Microsoft YaHei","微软雅黑","黑体","宋体";
    color: map-get($color, subtle);

    display: flex;  
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    &:after, &:before {
        content: '';
        width: ms(0);
        height: 1px;
        background: currentColor;

        margin: 0 ms(0);
    }
}

.l-society__details {
    @extend .l-module;
    display: flex; 

    border-bottom: 1px solid lightgrey;
    margin-bottom: ms(4);

    &-item {
        margin: ms(0) gutter()*2;
        margin-left: 0; 
         
        flex: 0 1 auto;
    }
}


// special elements

.u-dropcap {
    &:first-letter {
        margin :0 0.2em 0em 0;
        float:left;
        margin-left: -1px;
    
        font-weight: 700;
        font-size: 3.1em;
        line-height: 1;
    
        text-transform: uppercase;
        text-shadow: 2px 2px 1px map-get($color, background),
        3px 3px 1px map-get($color, subtle);
    }
}