<footer class='l-footer u-margin-top-7'>
    <div class="l-footer__main">
        <div class='l-footer__section'>
            <img class='u-image-no-responsive u-image-no-shadow' src='images/logo-white.png'>
            <p class='u-color-white'>
                Chinatown Society Heritage Building Association<br>
                PO Box 1443<br>
                Eas Greenwich, RI 02818<br>
                USA<br>
            </p>
        </div>
        <div class='l-footer__section'>
            <ul class='m-menu--vertical'>
                <li class='u-padding-bottom-1'><h5 class='u-color-background u-margin-top-none'>Navigation</h5></li> 
                <li class='u-padding-bottom-1'><a href='#' class='o-label'>Home</a></li> 
                <li class='u-padding-bottom-1'><a href='/about.html' class='o-label'>About</a></li>
                <li class='u-padding-bottom-1'><a href='#' class='o-label'>Societies</a></li>
                <li class='u-padding-bottom-1'><a href='#' class='o-label'>Initatives</a></li>
            </ul>
        </div>
        <div class='l-footer__section'>
            <ul class='m-menu--vertical'>
                <li class='u-padding-bottom-1'><h4 class='u-margin-top-none u-color-background'>Get updates about new tours,<br>travel tips, photo guides and more!</h4></li> 
                <li>
                    <form class='o-form__email-sub'>
                        <input type='email' placeholder='Enter your e-mail...'><button type='submit'>Submit</button>
                    </form>
                </li>
                <li class='u-padding-bottom-1'><p class='u-color-dark'>We promise to never share your email with third parties.</p></li>
            </ul>
        </div>
        <div class='l-footer__section'>
            <ul class='m-menu--vertical'>
                <li class='u-padding-bottom-1'><a href='#' class='o-button--solid u-inline-block'>Donate</a></li>
                <ul class='o-social-media'>
                    <li><a href='#' class="fa fa-facebook"></a></li>
                    <li><a href='#' class="fa fa-twitter"></a></li>
                    <li><a href='#' class="fa fa-instagram"></a></li>
                    <li><a href='#' class="fa fa-youtube-play"></a></li>
                </ul>
            </ul>
        </div>
    </div>
    <div class='l-footer__sub'>
        <div class="l-grid">
            <p>Copyright 2017 &copy; All Rights Reserved. Chinatown Society Heritage Building Association</p>
        </div>
    </div>
</footer>