.o-button {
    padding: ms(-2) ms(2);

    font-family: map-get($type, tertiary);
    font-weight: bold;
    letter-spacing: 2px;
    background: none;
    
    border: 2px solid map-get($color, primary);
    color: map-get($color, primary);
    
    text-align: center;
    text-transform: uppercase;

    transition: all 0.3s;

    &:hover {
        color: white;
        background: map-get($color, primary);
    }
}


.o-button--secondary {
    @extend .o-button;

    color: map-get($color, secondary);
    border-color: map-get($color, secondary);

    &:hover {
        background: map-get($color, secondary);
    }
}
.o-button--white {
    @extend .o-button;

    color: white;
    border-color: white;

    &:hover {
        background: white;
    }
}


.o-button--small {
    @extend .o-button;
    padding: ms(-4) ms(2);
}

.o-button--solid {
    @extend .o-button;

    border: none;
    background: map-get($color, primary);
    color: white;

    &:hover {
        background: darken(map-get($color, primary), 5);
    }
}

.o-button--solid-white {
    @extend .o-button--solid;

    color: map-get($color, primary);
    background: white;

    &:hover {
        background: darken(white, 5);
    }
}


.o-button--link {
    @extend .o-button;

    position: relative;

    padding: 0;
    border: none;

    position: relative;
    
    background: none !important;

    &:after {
        content: '';
        height: 2px;

        position: absolute;
        top: 100%;
        left: 0; right: 0;

        transition: 0.3s all;

        background: map-get($color, primary);
    }

    &:hover {
        &:after { right: 50%; }

        color: map-get($color, heading);
        background: none;
    }
}

.o-button--link-secondary {
    @extend .o-button--link;
    color: map-get($color, secondary-accent);
    background: none !important;

    &:after { background: map-get($color, secondary-accent); }
}