.o-button {
    padding: ms(-4) ms(2);

    font-family: map-get($type, tertiary);
    font-weight: bold;
    letter-spacing: 2px;
    border: 2px solid map-get($color, primary);
}

.o-button--white {
    color: white;
    border-color: white;
}

.o-button--solid {
    
}