.o-form {

    &__email-sub {
        input[type='email'] {
            @extend .o-button;

            padding-left: ms(1);
            padding-right: ms(1);
            
            text-align: left;
            color: map-get($color, subtle);
            transition: all 0.4s;
            
            &::placeholder { color: map-get($color, dark); }
            &:focus { 
                color: white; 
            }
            &:hover { 
                background: none;
            }
        }

        button[type='submit'] {
            @extend .o-button;

            background: map-get($color, primary);
            color: map-get($color, background);
        }
    }
}

.o-form__email-sub-white {
    @extend .o-form__email-sub;

    input[type='email'], input[type='email']:hover, input[type='email']:focus {
        border-color: white;
        background: map-get($color, alternate);

        &, &::placeholder { color: map-get($color, heading); } 
    }
 
    button[type='submit'], button[type='submit']:hover {
        border-color: white;
        background: white;
        color: map-get($color, primary);
    }   
}