.o-form {

    &__email-sub {
        input[type='email'] {
            @extend .o-button;

            padding-left: ms(1);
            padding-right: ms(1);
            
            text-align: left;
            color: map-get($color, subtle);
            transition: all 0.4s;
            
            &::placeholder { color: map-get($color, dark); }
            &:focus { 
                color: white; 
            }
            &:hover { 
                background: none;
            }
        }

        button[type='submit'] {
            @extend .o-button;

            background: map-get($color, primary);
            color: map-get($color, background);
        }
    }

}