.o-label {
    color: map-get($color, subtle);

    font-family: map-get($type, secondary);
    font-size: 0.75rem;
    font-weight: 400;
    
    text-transform: uppercase;
    letter-spacing: 2.5px; 
    vertical-align: middle;
}