.o-label {
    color: map-get($color, subtle);

    font-family: map-get($type, secondary);
    font-size: ms(-1);
<<<<<<< HEAD
    font-weight: 400;
=======
>>>>>>> 60a15f1af552b0d453dcb02aeada8db59e9a5cb8
    
    text-transform: uppercase;
    letter-spacing: 2.5px; 
}