.o-label {
    color: map-get($color, subtle);

    font-family: map-get($type, secondary);
    font-size: 0.75rem;
    font-weight: 400;
    
    text-transform: uppercase;
    letter-spacing: 2.5px; 
    vertical-align: middle;
}

.o-label--link {
    @extend .o-label;

    color: map-get($color, primary);
    border-bottom: 1px solid map-get($color, primary);
}

.o-label--knockout {
    @extend .o-label;

    padding: 0 ms(-2);

    color: white;
    background: #333;
}