.o-logo {
    &, * { line-height: 0; }

    background: url('images/logo.png') no-repeat;
    width: 222px;
    height: 57px;

    @include breakpoint(map-get($bp, med) + 200) {
        background-image: url('images/logo-partial.png');
        width: 81px;
        height: 25px;
    }
} 

.o-logo--white {
    @extend .o-logo;

    background-image: url('images/logo-white.png');

    @include breakpoint(map-get($bp, med) + 200) {
        background-image: url('images/logo-white-partial.png');
    }
}