.o-social-media {
    @extend .m-menu;

    li { 
        font-size: ms(1);
        margin-right: ms(0) !important;  
    }

    a {
        color: map-get($color, dark);
    }

    li:last-child { margin: 0 !important; }
}