<!DOCTYPE html>

    {% embed 'layout/header.twig' %}
        {% block styles %}
            <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css'>
        {% endblock %} 
    {% endembed %}

    {% include 'layout/nav.twig' with {'inverse': false} %}


        <header class='l-header u-padding-top-7 u-padding-bottom-2'>
            <div class='l-section__content u-padding-top-5'>
                <div class='l-block u-type-contain-larger u-padding-none'>
                    <span class='o-label u-color-secondary-accent'>Societies</span>
                    <h1 class='u-type-contain u-type-respond-3'>Building Plannings and Development Grant Program</h1>
                    <p class='u-type-subtitle u-type-type-respond-2 u-inline-block u-margin-left-2 u-margin-top-0 u-type-contain u-color-dark'>The Building Plannings Grant Program lets us start with the question of what is economical and right for the neighbourhood.</p>
                </div>
            </div>
        </header>

        <section class='l-section'>
            <div class='l-section__content'>
                <figure class='l-module--img-full u-margin-top-2 u-margin-bottom-5'>
                    <img src='images/test.png'>
                    <figcaption class='u-type-center'>The CSHBA comittee</figcaption>
                </figure>

                <div class='l-module--1col'>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex assumenda nam vel tenetur molestiae nostrum et deserunt nesciunt vitae veritatis perferendis doloribus consectetur doloremque placeat porro voluptas earum, labore praesentium asperiores rerum, incidunt ad provident? Odit, quidem neque animi nostrum, accusantium saepe eum facilis non, architecto ducimus perferendis cumque nemo fuga possimus quibusdam mollitia at numquam? Blanditiis, quasi cupiditate. Molestiae earum hic nam ea facilis iste perferendis reprehenderit aliquam provident, rem exercitationem voluptas sint assumenda minima ullam eaque ut eos?</p>
                        <h3>What are heritage societies?</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus ipsa veniam aliquam explicabo perspiciatis exercitationem atque aliquid voluptates, quibusdam minima dolorum pariatur vel et corporis delectus debitis harum neque eum!</p>

                        <figure>
                            <img src='http://placehold.it/500x300'>
                            <figcaption>The Chsba Comittee</figcaption>
                        </figure>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non mollitia et laborum voluptate, vel itaque consequatur libero, quidem cupiditate ut deserunt labore commodi ratione obcaecati corporis! Natus, debitis quam! Nemo?</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, fugit ipsum maiores fugiat illo facere deserunt aspernatur aperiam architecto sequi!</p>
                    </div>

                    <div class='l-module--sidebar-right'>
                        <div class='u-margin-bottom-0'>
                            <span class='o-label u-block u-margin-bottom-0'>Details</span>
                            <p>On-Going</p>
                        </div>

                        <div class='u-margin-bottom-0'>
                            <span class='o-label u-block u-margin-bottom-0'>Sponsers</span>
                            <a class='o-link' href='#'>City of Vancouver</a>
                        </div>
                    </div>
                </div>

                <div class='l-block u-margin-top-4 u-margin-bottom-2'>
                    <ul class='o-social-media u-flex-justify-center'>
                        <li><span class='o-label'>Share</span></li>
                        <li><a href='#' class="fa fa-facebook"></a></li>
                        <li><a href='#' class="fa fa-google-plus"></a></li>
                        <li><a href='#' class="fa fa-twitter"></a></li>
                        <li><a href='#' class="fa fa-envelope-o"></a></li>
                        <li><a href='#' class="fa fa-print"></a></li>
                    </ul>
                </div>
            </div>
        </section>

        {% include 'layout/footer.twig' %}

        {% embed 'layout/scripts.twig' %}  
            {% block scripts %}
                <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js'></script>
                <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js'></script>
                
                <script type='text/javascript'>
                    var feed = new Instafeed({
                        get: 'user',
                        sortBy: 'most-recent',
                        resolution: 'low_resolution',
                        limit: 6,

                        clientId: '{{post.get_field("instagram_client_id")}}',
                        accessToken: '{{post.get_field("instagram_access_token")}}',
                        userId: '{{post.get_field("instagram_user_id")}}'
                    });
                    feed.run();
                </script>
            {% endblock %}    
        {% endembed %}     
    </body>
</html>