<!DOCTYPE html>

    {% embed 'layout/header.twig' %}
        {% block styles %}
            <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css'>
        {% endblock %} 
    {% endembed %}

    {% include 'layout/nav.twig' with {'inverse': false} %}

    {% include 'layout/main-header.twig' %}

        {% if post.content %}
            <section class='l-section'>
                <div class='l-section__content'>
                    <div class='l-block u-type-contain-large'>
                        {{post.content}}
                    </div>
                </div>
            </section>
        {% endif %}

        {% include 'modules/content.twig' with {layouts:post.get_field('modular_layout')} %}

        {% include 'layout/footer.twig' %}
        {% embed 'layout/scripts.twig' %}{% endembed %}    
    </body>
</html>